<mat-form-field>
    <input matInput [matDatepicker]="picker3" placeholder="" [value]="currentDateControl.value" [readonly]="true"
        (dateChange)="dateChanged($event)">
    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
    <mat-datepicker #picker3></mat-datepicker>
</mat-form-field>

<div class="table-responsive">
    <table *ngIf="voltageData" class="table" matSort (matSortChange)="sortData($event)">
        <thead>
            <tr>
                <th mat-sort-header="created">Date</th>
                <th mat-sort-header="hours">Hours</th>
                <th mat-sort-header="voltageMax">Voltage Max, V</th>
                <th mat-sort-header="voltageMin">Voltage Min, V</th>
                <th mat-sort-header="voltageAvg">Voltage Average, V</th>
                <th mat-sort-header="amperageMax">Amperage Max, A</th>
                <th mat-sort-header="amperageMin">Amperage Min, A</th>
                <th mat-sort-header="amperageAvg">Amperage Average, A</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let record of voltageData">
                <td>{{ record.created | date: 'dd.MM.yyyy'}}</td>
                <td>{{ record.hours }}</td>
                <td>{{ formatNumber(record.voltageMax) }}</td>
                <td>{{ formatNumber(record.voltageMin) }}</td>
                <td>{{ formatNumber(record.voltageAvg) }}</td>
                <td>{{ formatNumber(record.amperageMax) }}</td>
                <td>{{ formatNumber(record.amperageMin) }}</td>
                <td>{{ formatNumber(record.amperageAvg) }}</td>
            </tr>
        </tbody>
    </table>
</div>