<mat-form-field>
    <input matInput [matDatepicker]="picker3" placeholder="" [value]="currentDateControl.value" [readonly]="true"
        (dateChange)="dateChanged($event)">
    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
    <mat-datepicker #picker3></mat-datepicker>
</mat-form-field>
<button (click)="refreshData()">Refresh</button>
<div class="table-responsive">
    <table mat-table [dataSource]="sortedData" class="table" matSort>
        <ng-container matColumnDef="created">
            <th mat-header-cell *matHeaderCellDef mat-sort-header style="font-weight: 400"> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.created | date: 'dd.MM.yyyy'}} </td>
        </ng-container>
        <ng-container matColumnDef="hours">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Hours </th>
            <td mat-cell *matCellDef="let element"> {{element.hours}} </td>
        </ng-container>
        <ng-container matColumnDef="voltageMax">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Voltage Max, V </th>
            <td mat-cell *matCellDef="let element"> {{element.voltageMax}} </td>
        </ng-container>
        <ng-container matColumnDef="voltageMin">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Voltage Min, V </th>
            <td mat-cell *matCellDef="let element"> {{element.voltageMin}} </td>
        </ng-container>
        <ng-container matColumnDef="voltageAvg">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Voltage Average, V </th>
            <td mat-cell *matCellDef="let element"> {{element.voltageAvg}} </td>
        </ng-container>
        <ng-container matColumnDef="amperageMax">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Amperage Max, A </th>
            <td mat-cell *matCellDef="let element"> {{element.amperageMax}} </td>
        </ng-container>
        <ng-container matColumnDef="amperageMin">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Amperage Min, A </th>
            <td mat-cell *matCellDef="let element"> {{element.amperageMin}} </td>
        </ng-container>
        <ng-container matColumnDef="amperageAvg">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Amperage Average, A </th>
            <td mat-cell *matCellDef="let element"> {{element.amperageAvg}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>