<button class="hourly__mat-button" mat-button (click)="refreshData()">
    <mat-icon>refresh</mat-icon>
</button>
<div class="row">
    <div class="col-12 col-md-6 mb-3">
        <table class="d-inline-block">
            <tr>
                <td class="pr-2"><b>Failure events:</b> </td>
                <td class="text-right"> {{failureAmount}}</td>
                <td class="text-right"></td>
            </tr>
            <tr>
                <td class="pr-2"><b>Total failure:</b> </td>
                <td class="text-right"> {{formatDurationWithDays(totalPowerFailure)}}</td>
                <td class="text-right"></td>
            </tr>
        </table>
    </div>
</div>
<div class="table-responsive">
    <table mat-table [dataSource]="sortedData" class="table custom-table" matSort (matSortChange)="sortData($event)">
        <ng-container matColumnDef="year">
            <th *matHeaderCellDef mat-sort-header> Year </th>
            <td *matCellDef="let element"> {{element.eventDate | date: 'yyyy'}} </td>
        </ng-container>
        <ng-container matColumnDef="duration">
            <th *matHeaderCellDef mat-sort-header> Duration </th>
            <td *matCellDef="let element"> {{formatDurationWithDays(element.duration)}} </td>
        </ng-container>
        <ng-container matColumnDef="events">
            <th *matHeaderCellDef mat-sort-header> Events </th>
            <td *matCellDef="let element"> {{element.events}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="table-row" mat-row *matRowDef="let row; columns: displayedColumns;let even = even"
            [ngClass]="{alternate: even}" (click)="clickOnRowHandler(row)">
        </tr>
    </table>
</div>