<button class="hourly__mat-button" mat-button (click)="addYear(Direction.Down)"
    [disabled]="isAddYearButtonDisabled(Direction.Down)" matTooltip="{{'COMMON.BACK' | translate}}"
    matTooltipClass="tooltip">
    <mat-icon>chevron_left</mat-icon>
</button>
<button class="hourly__mat-button" mat-button (click)="addYear(Direction.Up)"
    [disabled]="isAddYearButtonDisabled(Direction.Up)" mat-button matTooltip="{{'COMMON.FORWARD' | translate}}"
    matTooltipClass="tooltip">
    <mat-icon>chevron_right</mat-icon>
</button>
<mat-form-field>
    <input matInput [matDatepicker]="picker3" placeholder="" [value]="currentDateControl.value" [readonly]="true"
        (click)="picker3.open()">
    <mat-datepicker-toggle matSuffix [for]=" picker3"></mat-datepicker-toggle>
    <mat-datepicker #picker3 startView="multi-year" (yearSelected)="chosenYearHandler($event, picker3)">
    </mat-datepicker>
</mat-form-field>
<button class="hourly__mat-button" mat-button (click)="refreshData()" matTooltip="{{'COMMON.REFRESH' | translate}}"
    matTooltipClass="tooltip">
    <mat-icon>refresh</mat-icon>
</button>
<div class="row">
    <div class="col-12 col-md-6 mb-3">
        <table class="d-inline-block">
            <tr>
                <td class="pr-2"><b>{{'POWER_FAILURES.FAILURE_EVENTS' | translate}}:</b> </td>
                <td class="text-right"> {{failureAmount}}</td>
                <td class="text-right"></td>
            </tr>
            <tr>
                <td class="pr-2"><b>{{'POWER_FAILURES.TOTAL_FAILURES' | translate}}:</b> </td>
                <td class="text-right"> {{totalPowerFailure | formatDuration}} </td>
                <td class="text-right"></td>
            </tr>
        </table>
    </div>
</div>
<div class="table-responsive">
    <table mat-table [dataSource]="sortedData" class="table custom-table" matSort (matSortChange)="sortData($event)">
        <ng-container matColumnDef="month">
            <th *matHeaderCellDef mat-sort-header> {{'COMMON.MONTH' | translate}} </th>
            <td *matCellDef="let element" class="numeric-text"> {{element.monthStr}} </td>
        </ng-container>
        <ng-container matColumnDef="duration">
            <th *matHeaderCellDef mat-sort-header> {{'COMMON.DURATION' | translate}} </th>
            <td *matCellDef="let element" class="numeric-text"> {{element.duration | formatDuration}} </td>
        </ng-container>
        <ng-container matColumnDef="events">
            <th *matHeaderCellDef mat-sort-header> {{'COMMON.EVENTS' | translate}} </th>
            <td *matCellDef="let element" class="numeric-text"> {{element.events}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr class="table-row" mat-row *matRowDef="let row; columns: displayedColumns;let even = even"
            [ngClass]="{alternate: even}" (click)="clickOnRowHandler(row)">
        </tr>
    </table>
</div>