.dialog-header {
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 240, 236);
}

.dialog-header-text {
    font-weight: bold;
    font-size: 18px;
}

.modal-content {
    background-color: var(--modalBackground);
    padding: 30px;
}

.edit-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.timepicker-group {
    margin-top: -15px;
}

.dialog-footer {
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    gap: 10px;
}

.edit-consumption-form {
    margin-left: 20px;
    margin-right: 20px;
}

.ok-button {
    color: white;
    background-color: #4189c7;
    width: 120px;
}

.cancel-button {
    color: white;
    background-color: #f7b3b3;
    width: 120px;
}
