@media screen and (max-width: 768px) {
    .hourly__mat-button {
        padding: 0;
        min-width: 40px;
    }

    .mat-form-field-infix {
        width: 100px;
    }
}

.table-row {
    cursor: pointer;
}

.alternate {
    background-color: #eee7e7;
}

.numeric-text {
    font-variant-numeric: tabular-nums;
    text-align: right;
    padding-right: 25px;
}
