.vs/
PowerMonitor.API/build/
PowerMonitor.API/node_modules/
PowerMonitor.API/.idea/
PowerMonitor.API/powermonitor.sqlite
Arduino/PowerMonitor/build/
PowerMonitor.Upload/node_modules/
PowerMonitor.API/uploads/
PowerMonitor.API/server.off
Arduino/PowerMonitor/.vscode/ipch/
PowerMonitor.Site/.firebase/hosting.ZGlzdA.cache
PowerMonitor.Backup/build/
PowerMonitor.Backup/node_modules/
PowerMonitor.Backup/logs/
