<ngb-tabset #tabs [activeId]="selectedTab" (tabChange)="selectedTab = $event.nextId">
    <ngb-tab id="daily">
        <ng-template ngbTabTitle>
            <a [routerLink]="['/power-failures','daily']">Daily</a>
        </ng-template>
        <ng-template ngbTabContent>
            <app-power-failures-daily></app-power-failures-daily>
        </ng-template>
    </ngb-tab>
    <ngb-tab id="monthly">
        <ng-template ngbTabTitle>
            <a [routerLink]="['/power-failures','monthly']">Monthly</a>
        </ng-template>
        <ng-template ngbTabContent>
            <app-power-failures-monthly></app-power-failures-monthly>
        </ng-template>
    </ngb-tab>
    

</ngb-tabset>