<div class="container">
    <div class="row gauge-row">
        <google-chart
            [type]="voltageChart.type"
            [data]="voltageChart.data"
            [options]="voltageChart.options"
        ></google-chart>
        <google-chart
            [type]="amperageChart.type"
            [data]="amperageChart.data"
            [options]="amperageChart.options"
        ></google-chart>
        <google-chart
            [type]="powerChart.type"
            [data]="powerChart.data"
            [options]="powerChart.options"
        ></google-chart>
    </div>
</div>
