<nav ngbNav #nav="ngbNav" [(activeId)]="selectedTab" class="nav-tabs" (navChange)="onNavChange($event)">
    <ng-container ngbNavItem [ngbNavItem]="1">
        <a ngbNavLink>{{'COMMON.HOURLY' | translate}}</a>
    </ng-container>
    <ng-container ngbNavItem [ngbNavItem]="2">
        <a ngbNavLink>{{'COMMON.DAILY' | translate}}</a>
    </ng-container>
    <ng-container ngbNavItem [ngbNavItem]="3">
        <a ngbNavLink>{{'COMMON.MONTHLY' | translate}}</a>
    </ng-container>
    <ng-container ngbNavItem [ngbNavItem]="4">
        <a ngbNavLink>{{'COMMON.YEARLY' | translate}}</a>
    </ng-container>
</nav>

<div class="mt-2">
    <router-outlet></router-outlet>
</div>