<button class="hourly__mat-button" mat-button (click)="addMonth('down')" [disabled]="isAddMonthButtonDisabled('down')">
    <mat-icon>chevron_left</mat-icon>
</button>
<button class="hourly__mat-button" mat-button (click)="addMonth('up')" [disabled]="isAddMonthButtonDisabled('up')">
    <mat-icon>chevron_right</mat-icon>
</button>
<mat-form-field>
    <input matInput [matDatepicker]="picker3" placeholder="" [value]="currentDateControl.value" [readonly]="true"
        (click)="picker3.open()">
    <mat-datepicker-toggle matSuffix [for]=" picker3">
    </mat-datepicker-toggle>
    <mat-datepicker #picker3 startView="year" (monthSelected)="chosenMonthHandler($event, picker3)">
    </mat-datepicker>
</mat-form-field>
<button class="hourly__mat-button" mat-button (click)="refreshData()">
    <mat-icon>refresh</mat-icon>
</button>
<br />
<div *ngIf="powerData">
    <table>
        <tr>
            <td>
                <p class="mb-0"><b>Total Power: </b>{{formatNumber(powerSum)}}, kW</p>
            </td>
        </tr>
        <tr *ngIf="powerAvg > 0">
            <td style="color: blue">
                <p class="mb-0"><b>Average Power: </b>{{formatNumber(powerAvg)}}, kW/day</p>
            </td>
        </tr>
        <tr *ngIf="powerForecast > 0">
            <td>
                <p class="mb-0"><b>Forecast Power: </b>{{formatNumber(powerForecast)}}, kW/month</p>
            </td>
        </tr>
    </table>
    <div style="display: block" class="mb-5">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
            [legend]="barChartLegend" (chartClick)="chartClicked($event)"></canvas>
    </div>
</div>