<mat-form-field>
    <input matInput [matDatepicker]="picker3" placeholder="" [value]="currentDateControl.value" [readonly]="true">
    <mat-datepicker-toggle matSuffix [for]=" picker3"></mat-datepicker-toggle>
    <mat-datepicker #picker3 startView="multi-year" (yearSelected)="chosenYearHandler($event, picker3)">
    </mat-datepicker>
</mat-form-field>
<button (click)="refreshData()">Refresh</button>
<br />
<div *ngIf="powerData">
    <table>
        <tr>
            <td>
                <p class="mb-0">Total Power: {{formatNumber(powerSum)}}, kW/h</p>
            </td>
        </tr>
        <tr *ngIf="powerAvg > 0">
            <td>
                <p class="mb-0">Average Power: {{formatNumber(powerAvg)}}, kW/h/month</p>
            </td>
        </tr>
    </table>
    <div style="display: block" class="mb-5">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
    </div>
</div>