<ngb-tabset>
    <ngb-tab title="Daily">
      <ng-template ngbTabContent>
        <voltage-amperage-daily></voltage-amperage-daily>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Monthly">
        <ng-template ngbTabContent>
          <voltage-amperage-daily></voltage-amperage-daily>
        </ng-template>
      </ngb-tab>
      <ngb-tab title="Anualy">
        <ng-template ngbTabContent>
          <voltage-amperage-daily></voltage-amperage-daily>
        </ng-template>
      </ngb-tab>

  </ngb-tabset>