@media screen and (max-width: 768px) {
    .gauge-chart {
        margin: 0 auto;
    }

    .gauge-row {
        justify-content: center
    }
}

@media screen and (min-width:961px) {
    .gauge-row {
        justify-content: left
    }

    .container {
        margin-top: 50px;
    }
}

.google-chart {
    margin-right: 10px;
    margin-left: 10px;
}

/* .gauge-row {
    justify-content: center
} */