.row {
    flex-wrap: nowrap;
    align-items: center;
    margin-left: 10px;
    margin-top: 10px;
    width: 90%;
}

.row>* {
    width: auto;
}

.timepicker {
    margin-left: -12px;
}

.modal-footer {
    margin-right: 20px;
}

.edit-consumption-form {
    margin-left: 20px;
    margin-right: 20px;
}

.footer-container {
    position: absolute;
    bottom: 10px;
    left: 0px;
    width: 100%;
}