<div *ngIf="boardInfo">
    <p>Board version: {{boardInfo.version}} from {{boardInfo.buildDate | date: 'dd.MM.yyyy HH:mm'}}</p>
</div>
<form *ngIf="calibrationCoefficients" [formGroup]="coefficientsForm" (ngSubmit)="changeCoefficients()"
    autocomplete="on">
    <div class="form-group">
        <label for="voltageCoefficient">Voltage Coefficient</label>
        <div class="input-group">
            <input type="text" formControlName="voltageCoefficient">
        </div>
        <div *ngIf="voltageCoefficient.invalid && (voltageCoefficient.dirty || voltageCoefficient.touched)"
            class="alert alert-danger">
            <div *ngIf="voltageCoefficient.errors.required">
                Voltage coefficient is required.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="currentCoefficient">Current Coefficient</label>
        <div class="input-group">
            <input type="text" formControlName="currentCoefficient">
        </div>
        <div *ngIf="currentCoefficient.invalid && (currentCoefficient.dirty || currentCoefficient.touched)"
            class="alert alert-danger">
            <div *ngIf="currentCoefficient.errors.required">
                Current coefficient is required.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="powerFactorCoefficient">Power Factor Coefficient</label>
        <div class="input-group">
            <input type="text" formControlName="powerFactorCoefficient">
        </div>
        <div *ngIf="powerFactorCoefficient.invalid && (powerFactorCoefficient.dirty || powerFactorCoefficient.touched)"
            class="alert alert-danger">
            <div *ngIf="powerFactorCoefficient.errors.required">
                Power Factor coefficient is required.
            </div>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-outline-dark" [disabled]="!coefficientsForm.valid">Change</button>
    </div>
</form>

<input type="file" (change)="fileChangeEvent($event)" placeholder="Upload file..." accept=".hex" />
<button type="button" (click)="uploadNewSketch()">Upload</button>