<div class="container">
    <div class="row">
        <rg-gauge-chart class="gauge-chart" [canvasWidth]="canvasWidth" [needleValue]="voltageIndicator.needleValue"
            [options]="voltageIndicator.options" [name]="voltageIndicator.name"
            [bottomLabel]="voltageIndicator.bottomLabel"></rg-gauge-chart>
        <rg-gauge-chart class="gauge-chart" [canvasWidth]="canvasWidth" [needleValue]="currentIndicator.needleValue"
            [options]="currentIndicator.options" [name]="currentIndicator.name"
            [bottomLabel]="currentIndicator.bottomLabel"></rg-gauge-chart>
        <rg-gauge-chart class="gauge-chart" [canvasWidth]="canvasWidth" [needleValue]="powerIndicator.needleValue"
            [options]="powerIndicator.options" [name]="powerIndicator.name"
            [bottomLabel]="powerIndicator.bottomLabel"></rg-gauge-chart>
    </div>
</div>