<h1>Platform Information</h1>

<ul>
    <li>Site version: <strong>{{ siteVersion }}</strong></li>
</ul>
<div *ngIf="sysInfo">
    <ul>
        <li>API version: <strong>{{ sysInfo.version }}</strong></li>
    </ul>
    <ul>
        <li>Manufacturer: <strong>{{ sysInfo.manufacturer }}</strong></li>
    </ul>
    <ul>
        <li>Model: <strong>{{ sysInfo.model }}</strong></li>
    </ul>
    <ul>
        <li>OS Platform: <strong>{{ sysInfo.platform }}</strong></li>
    </ul>
    <ul>
        <li>OS: <strong>{{ sysInfo.distro }}</strong></li>
    </ul>
    <ul>
        <li>CPU Manufacturer: <strong>{{ sysInfo.cpuManufacturer }}</strong></li>
    </ul>
    <ul>
        <li>CPU Brand: <strong>{{ sysInfo.cpuBrand }}</strong></li>
    </ul>
    <ul>
        <li>CPU Speed: <strong>{{ sysInfo.cpuSpeed }} GHz</strong></li>
    </ul>
    <ul>
        <li>CPU Cores: <strong>{{ sysInfo.cpuCores }}</strong></li>
    </ul>
    <ul>
        <li>System Uptime: <strong>{{ getSystemUptimeStr() }}</strong></li>
    </ul>
    <ul>
        <li>System Time: <strong>{{ getSystemDateTime() | date: 'dd.MM.yyyy HH:mm:ss'}}</strong></li>
    </ul>
</div>